#patient{
    position: absolute;
    width: 100%;
    height: 60%;
    top: 10%;
    opacity: 90%;
    z-index: 1;
}
/* header */
header{
    top: 0%;
    display: flex;
    /* right: 10%; */
    position: absolute;
    justify-content: center;
    background-image: linear-gradient(to right , #3b536c,#4ca1af);
    width: 100%;
    height: 10%;
    font-family: 'Lato', sans-serif;
    /* font-family: 'Sansita Swashed', cursive; */
    font-size: x-large;
    font-weight: bold;
}
.head{
    width: 100%;
    display: inline-flexbox;
    position: absolute;
    padding: 1%;
    top: 10%;
    flex-direction: row;
    justify-content: space-between;
    text-decoration: none;
    color: aliceblue;
}
#team{
 position: absolute;
 left: 7%

}
#ven{
 position: absolute;
left: 22%

}
#about{
    position: absolute;
    left: 59%;
    text-decoration: none;
    color: aliceblue;
}
#sim{
    position: absolute;
    left: 67%;
    text-decoration: none;
    color: aliceblue;
}
#pro{
    position: absolute;
    left: 77%;
    text-decoration: none;
    color: aliceblue;
}
#team:hover{
    color:rgb(238, 172, 172);
}
#ven:hover{
    color:rgb(238, 172, 172);
}
#sim:hover{
    color:rgb(238, 172, 172);
}
#pro:hover{
    color:rgb(238, 172, 172);
}
#about:hover{
    color:rgb(238, 172, 172);
}
/* end header */
.content{
    width: 28%;
    height: 46%;
    position: absolute;
    z-index: 2;
    background-color: #3b536c;
    /* background-image: linear-gradient(to right , #3b536c,#4ca1af); */
    padding: 3%;
    color: aliceblue;
    justify-content: center;
    font-family: 'Lato', sans-serif;
    font-size: large;
    top: 17%;
    right: 2%;
    border-radius: 10%;
}
.assum{
    width: 100%;
    font-family: 'Lato', sans-serif;
    font-size: large;
    color: #3b536c;
    padding-left: 5%;
}
.assum h1{
    font-style: italic;
}
#assumption{
    position: absolute;
    top: 71%;
}
#title{

    width: 15%;
    padding: 1%;
    border-right:solid 5px #4ca1af;
    border-bottom: solid 5px #4ca1af;
}
#title:hover{
    border-left: solid 5px #4ca1af;
    border-top: solid 5px #4ca1af;
    border-right:solid 5px transparent;
    border-bottom: solid 5px transparent;
}
.a{
    font-family: 'Lato', sans-serif;
    font-size: x-large;
    font-weight: bolder;
    color: rgb(59, 83, 108);
    padding-left: 1%;
    padding-right: 1%;
}
.a::first-letter{
    
    font-size: xxx-large;
    color:rgb(238, 172, 172);
  
}
.com{
    font-family: 'Lato', sans-serif  ;
    font-size: large  ;
    position: absolute;
    color: #3b536c;
    top: 125%;
    padding-left: 5%;
}
#titl{
    width: 114%;
    padding: 5%;
    border-right:solid 5px #4ca1af;
    border-bottom: solid 5px #4ca1af;
}
#titl:hover{
    border-left: solid 5px #4ca1af;
    border-top: solid 5px #4ca1af;
    border-right:solid 5px transparent;
    border-bottom: solid 5px transparent;
}
.component{
    position: absolute;
    
    width: 200px;
    height: 200px;
    background-color: white;
    border: white;
    color: white;
    font-family: 'Lato', sans-serif !important ;
    font-size: large !important ;

}
.component:focus{
    color: white;
    background-color: white;
    border-color: white;
}
.component:hover{
    color: white;
    background-color: white;
    border-color: white;   
}
.ima{
    width: 200px;
    height: 200px;
}
.popover-header{
    font-family: 'Lato', sans-serif  ;
    font-size: large  ;
    background-color: #3b536c;
    color: aliceblue;
}
.popover-body{
    font-family: 'Lato', sans-serif  ;
    font-size: large  ;
    color: #3b536c;
}
#one{
    top: 95%;

}
#two{
    top: 95%;
left: 216%;
}
#three{
    top: 95%;
    left: 400%; 
}
#four{
    top:500%
}
#five{
    top:500%;
    left: 216%;
}
#six{
    top:500%;
    left: 400%; 
}
#seven{
    top:895%;
}
#eight{
    top:895%;
    left: 216%;

}
#nine{
    top:895%;
    left: 400%; 
}
#problem{
   font-family: 'Lato', sans-serif;
    font-size: large;
    color: #3b536c;
    padding-left: 5%;
    position: absolute;
    top: 288%;
    width: 100%;
}

#tit{

    width: 48%;
    padding: 1%;
    border-right: solid 5px #4ca1af;
    border-bottom: solid 5px #4ca1af;
    position: absolute;
    top: -46%;
}
#tit:hover{
    border-left: solid 5px #4ca1af;
    border-top: solid 5px #4ca1af;
    border-right:solid 5px transparent;
    border-bottom: solid 5px transparent;
}
.first{
    
    font-family: 'Lato', sans-serif;
    font-size: x-large;
    font-weight: bolder;
    color: rgb(59, 83, 108);
    padding-left: 1%;
    padding-right: 1%;
}
.first::first-letter{
    position: absolute;
    top:7% ;
    font-size: xxx-large;
    color:rgb(238, 172, 172);
  
}
#develop{
    font-family: 'Lato', sans-serif;
    font-size: large;
    color: #3b536c;
    padding-left: 5%;
    position: absolute;
    top: 315%;
    width: 100%;
}
#ti{
    width: 59%;
    padding: 1%;
    border-right:solid 5px #4ca1af;
    border-bottom: solid 5px #4ca1af;
}
#ti:hover{
    border-left: solid 5px #4ca1af;
    border-top: solid 5px #4ca1af;
    border-right:solid 5px transparent;
    border-bottom: solid 5px transparent;

}


